[paths]
source =
   src/ngoopenapiclient
   */site-packages/ngoopenapiclient

[run]
branch = true
source =
    ngoopenapiclient
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
